body {
  background-color: black;
}
h1 {
  color: aliceblue;
}
.outerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
.innerBox {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(7, 7, 142, 0.375);
  border-radius: 10px;
}
video {
  border-radius: 10px;
}
.moodResult {
  width: 300px;
  background-color: aliceblue;
  border-radius: 10px;
}
.canvas {
  display: none;
  visibility: hidden;
}
